.form-message {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.form-message__text {
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  position: relative;
  width: 100%;
  text-align: center;
  color: #2e2e2e;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 15px;
  margin: 0;
  -webkit-box-shadow: 0 2px 5px rgba(46,46,46,.1);
  box-shadow: 0 2px 5px rgba(46,46,46,.1);
}

.form-message--theme-brand .form-message__text {
  border-top: 5px solid #2ea34f;
}

.form-message--theme-alpha .form-message__text {
  border-top: 5px solid #7457ad;
}

.form-message--theme-beta .form-message__text {
  border-top: 5px solid #21a7ba;
}

.form-message--theme-delta .form-message__text {
  border-top: 5px solid #c2395e;
}

.form-message--theme-epsilon .form-message__text {
  border-top: 5px solid #bbaf96;
}

.form-message--theme-gamma .form-message__text {
  border-top: 5px solid #e26b50;
}

.form-message--theme-tint-alpha .form-message__text {
  border-top: 5px solid #2e2e2e;
}

.form-message--theme-tint-beta .form-message__text {
  border-top: 5px solid #909090;
}

.form-message--theme-avis .form-message__text {
  border-top: 5px solid #d4002a;
}

.form-message--theme-cydar .form-message__text {
  border-top: 5px solid #f35b0d;
}

.form-message--theme-gain .form-message__text {
  border-top: 5px solid #06264c;
}

.form-message--theme-post-office .form-message__text {
  border-top: 5px solid #d71440;
}

.form-message--theme-playstation .form-message__text {
  border-top: 5px solid #003791;
}

.form-message--theme-shell-blue .form-message__text {
  border-top: 5px solid #003c88;
}

.form-message--theme-shell-yellow .form-message__text {
  border-top: 5px solid #fbce07;
}

.form-message--theme-suzuki .form-message__text {
  border-top: 5px solid #0582ca;
}

.form-message--theme-bbc .form-message__text {
  border-top: 5px solid #1375e4;
}

.form-message--theme-xlc .form-message__text {
  border-top: 5px solid #5ca558;
}

.form-message--theme-maersk .form-message__text {
  border-top: 5px solid #0000c8;
}

.form-message--theme-tfl .form-message__text {
  border-top: 5px solid #1a3b98;
}

.form-message--theme-tsb .form-message__text {
  border-top: 5px solid #00a1e6;
}

.form-message__text:before {
  content: "";
  position: absolute;
  top: -11px;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate3d(-50%,0,0);
  transform: translate3d(-50%,0,0);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.form-message--theme-brand .form-message__text:before {
  border-bottom: 6px solid #2ea34f;
}

.form-message--theme-alpha .form-message__text:before {
  border-bottom: 6px solid #7457ad;
}

.form-message--theme-beta .form-message__text:before {
  border-bottom: 6px solid #21a7ba;
}

.form-message--theme-delta .form-message__text:before {
  border-bottom: 6px solid #c2395e;
}

.form-message--theme-epsilon .form-message__text:before {
  border-bottom: 6px solid #bbaf96;
}

.form-message--theme-gamma .form-message__text:before {
  border-bottom: 6px solid #e26b50;
}

.form-message--theme-tint-alpha .form-message__text:before {
  border-bottom: 6px solid #2e2e2e;
}

.form-message--theme-tint-beta .form-message__text:before {
  border-bottom: 6px solid #909090;
}

.form-message--theme-avis .form-message__text:before {
  border-bottom: 6px solid #d4002a;
}

.form-message--theme-cydar .form-message__text:before {
  border-bottom: 6px solid #f35b0d;
}

.form-message--theme-gain .form-message__text:before {
  border-bottom: 6px solid #06264c;
}

.form-message--theme-post-office .form-message__text:before {
  border-bottom: 6px solid #d71440;
}

.form-message--theme-playstation .form-message__text:before {
  border-bottom: 6px solid #003791;
}

.form-message--theme-shell-blue .form-message__text:before {
  border-bottom: 6px solid #003c88;
}

.form-message--theme-shell-yellow .form-message__text:before {
  border-bottom: 6px solid #fbce07;
}

.form-message--theme-suzuki .form-message__text:before {
  border-bottom: 6px solid #0582ca;
}

.form-message--theme-bbc .form-message__text:before {
  border-bottom: 6px solid #1375e4;
}

.form-message--theme-xlc .form-message__text:before {
  border-bottom: 6px solid #5ca558;
}

.form-message--theme-maersk .form-message__text:before {
  border-bottom: 6px solid #0000c8;
}

.form-message--theme-tfl .form-message__text:before {
  border-bottom: 6px solid #1a3b98;
}

.form-message--theme-tsb .form-message__text:before {
  border-bottom: 6px solid #00a1e6;
}

@-webkit-keyframes glow-data-v-10e7a3e3 {
  0% {
    background-color: #fff;
  }

  to {
    background-color: rgba(33,167,186,.15);
  }
}

@keyframes glow-data-v-10e7a3e3 {
  0% {
    background-color: #fff;
  }

  to {
    background-color: rgba(33,167,186,.15);
  }
}

@-webkit-keyframes grow-data-v-10e7a3e3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes grow-data-v-10e7a3e3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.list-enter,.list-leave-to {
  opacity: 0;
  -webkit-transform: translate3d(15px,0,0);
  transform: translate3d(15px,0,0);
}

.list-leave-active {
  position: absolute;
}

.form-upload {
  width: 100%;
}

.form-upload__list {
  width: 100%;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.form-upload__item {
  padding: 0;
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 300;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: opacity .3s ease,-webkit-transform .3s ease;
  transition: opacity .3s ease,-webkit-transform .3s ease;
  transition: opacity .3s ease,transform .3s ease;
  transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;
}

.form-upload__error,.form-upload__tick {
  margin: 0 10px 0 0;
}

.form-upload__remove {
  cursor: pointer;
  font-size: 12px;
  color: #c2395e;
  text-decoration: underline;
  padding-left: 20px;
  font-weight: 700;
}

.form-upload__state {
  font-weight: 700;
  margin: 0 0 0 10px;
}

.form-upload__state--error {
  color: #c2395e;
  text-transform: uppercase;
}

.form-upload__state--success {
  color: #2ea34f;
}

.form-upload__state--info {
  color: #21a7ba;
}

.form-upload__dropzone {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px dashed #21a7ba;
  background-color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-upload__dropzone.is-dragging {
  -webkit-animation: glow-data-v-10e7a3e3 .3s ease-in-out infinite alternate;
  animation: glow-data-v-10e7a3e3 .3s ease-in-out infinite alternate;
}

.form-upload__notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.is-dragging .form-upload__notice .icon {
  -webkit-animation: grow-data-v-10e7a3e3 .3s ease-in-out infinite alternate;
  animation: grow-data-v-10e7a3e3 .3s ease-in-out infinite alternate;
}

.form-upload__notice label {
  cursor: pointer;
}

.form-upload__notice p {
  padding: 0;
  font-weight: 700;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 400;
  color: #2e2e2e;
  margin: 0 0 0 10px;
  text-align: left;
}

@media (min-width:992px) {
  .form-upload__notice p {
    font-size: 16px;
  }
}

.form-upload__button {
  width: 100%;
  margin: 20px 0 0;
}

.form-upload__notice-text {
  width: 50%;
  margin: 0 auto;
}

@media (min-width:1200px) {
  .form-upload__notice-text {
    width: 35%;
  }
}

.transition-message-enter-active,.transition-message-leave-active {
  -webkit-transition: opacity .3s ease,-webkit-transform .3s ease;
  transition: opacity .3s ease,-webkit-transform .3s ease;
  transition: opacity .3s ease,transform .3s ease;
  transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;
}

.transition-message-enter,.transition-message-leave-to {
  -webkit-transform: translate3d(0,-5px,0);
  transform: translate3d(0,-5px,0);
  opacity: 0;
}

.temp-intro {
  padding: 0;
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 300;
}

.temp-intro--light {
  color: #fff;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  margin: 0 0 40px;
}

@media (min-width:992px) {
  .form-input {
    width: calc(50% - 20px);
  }
}

.form-input input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f5f4f2 inset;
  box-shadow: inset 0 0 0 30px #f5f4f2;
}

@media (min-width:992px) {
  .form-input--size-full {
    width: 100%;
  }
}

.form-input__label {
  padding: 0;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  font-style: normal;
  margin: 0 0 15px;
}

@media (min-width:992px) {
  .form-input__label {
    font-size: 16px;
  }
}

.form-input.is-theme-alpha .form-input__label .form-input__required,.form-input.is-theme-alpha .form-input__label,.form-input.is-theme-avis .form-input__label .form-input__required,.form-input.is-theme-avis .form-input__label,.form-input.is-theme-bbc .form-input__label .form-input__required,.form-input.is-theme-bbc .form-input__label,.form-input.is-theme-beta .form-input__label .form-input__required,.form-input.is-theme-beta .form-input__label,.form-input.is-theme-brand .form-input__label .form-input__required,.form-input.is-theme-brand .form-input__label,.form-input.is-theme-cydar .form-input__label .form-input__required,.form-input.is-theme-cydar .form-input__label,.form-input.is-theme-delta .form-input__label .form-input__required,.form-input.is-theme-delta .form-input__label,.form-input.is-theme-epsilon .form-input__label .form-input__required,.form-input.is-theme-epsilon .form-input__label,.form-input.is-theme-gain .form-input__label .form-input__required,.form-input.is-theme-gain .form-input__label,.form-input.is-theme-gamma .form-input__label .form-input__required,.form-input.is-theme-gamma .form-input__label,.form-input.is-theme-maersk .form-input__label .form-input__required,.form-input.is-theme-maersk .form-input__label,.form-input.is-theme-playstation .form-input__label .form-input__required,.form-input.is-theme-playstation .form-input__label,.form-input.is-theme-post-office .form-input__label .form-input__required,.form-input.is-theme-post-office .form-input__label,.form-input.is-theme-shell-blue .form-input__label .form-input__required,.form-input.is-theme-shell-blue .form-input__label,.form-input.is-theme-shell-yellow .form-input__label .form-input__required,.form-input.is-theme-shell-yellow .form-input__label,.form-input.is-theme-suzuki .form-input__label .form-input__required,.form-input.is-theme-suzuki .form-input__label,.form-input.is-theme-tfl .form-input__label .form-input__required,.form-input.is-theme-tfl .form-input__label,.form-input.is-theme-tint-alpha .form-input__label .form-input__required,.form-input.is-theme-tint-alpha .form-input__label,.form-input.is-theme-tint-beta .form-input__label .form-input__required,.form-input.is-theme-tint-beta .form-input__label,.form-input.is-theme-tsb .form-input__label .form-input__required,.form-input.is-theme-tsb .form-input__label,.form-input.is-theme-xlc .form-input__label .form-input__required,.form-input.is-theme-xlc .form-input__label {
  color: #000;
}

.form-input__input,.form-input__textarea {
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #c3c3c3;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
}

.form-input__input::-webkit-input-placeholder,.form-input__textarea::-webkit-input-placeholder {
  color: rgba(0,0,0,.3);
  opacity: 1;
  text-transform: none;
}

.form-input__input::-moz-placeholder,.form-input__textarea::-moz-placeholder {
  color: rgba(0,0,0,.3);
  opacity: 1;
  text-transform: none;
}

.form-input__input:-ms-input-placeholder,.form-input__textarea:-ms-input-placeholder {
  color: rgba(0,0,0,.3);
  opacity: 1;
  text-transform: none;
}

.form-input__input::-ms-input-placeholder,.form-input__textarea::-ms-input-placeholder {
  color: rgba(0,0,0,.3);
  opacity: 1;
  text-transform: none;
}

.form-input__input::placeholder,.form-input__textarea::placeholder {
  color: rgba(0,0,0,.3);
  opacity: 1;
  text-transform: none;
}

.form-input__input:focus,.form-input__textarea:focus {
  border-color: #21a7ba;
}

.form-input__input[aria-invalid=true],.form-input__textarea[aria-invalid=true] {
  border-color: #c2395e;
}

.form-input.has-background .form-input__input,.form-input.has-background .form-input__textarea {
  color: #fff;
  border-bottom: 2px solid hsla(0,0%,100%,.3);
}

.form-input.has-background .form-input__input:focus,.form-input.has-background .form-input__textarea:focus {
  border-color: #fff;
}

.form-input.has-background .form-input__input[aria-invalid=true],.form-input.has-background .form-input__textarea[aria-invalid=true] {
  border-color: #c2395e;
}

.form-input__input--white,.form-input__textarea--white {
  color: #fff;
  padding: 0;
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 300;
  text-transform: lowercase;
  border-bottom: 2px solid #fff!important;
}

.form-input__input--white::-webkit-input-placeholder,.form-input__textarea--white::-webkit-input-placeholder {
  color: #fff;
  padding: 0;
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 300;
  opacity: .6;
  text-transform: none;
}

.form-input__input--white::-moz-placeholder,.form-input__textarea--white::-moz-placeholder {
  color: #fff;
  padding: 0;
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 300;
  opacity: .6;
  text-transform: none;
}

.form-input__input--white:-ms-input-placeholder,.form-input__textarea--white:-ms-input-placeholder {
  color: #fff;
  padding: 0;
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 300;
  opacity: .6;
  text-transform: none;
}

.form-input__input--white::-ms-input-placeholder,.form-input__textarea--white::-ms-input-placeholder {
  color: #fff;
  padding: 0;
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 300;
  opacity: .6;
  text-transform: none;
}

.form-input__input--white::placeholder,.form-input__textarea--white::placeholder {
  color: #fff;
  padding: 0;
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 300;
  opacity: .6;
  text-transform: none;
}

.form-input__input {
  height: 30px;
}

.form-input__textarea {
  padding: 15px;
  min-height: 130px;
  background-color: #fff;
  border: 2px solid transparent;
}

.form-input__checkbox {
  display: none;
}

.form-input__checkbox:focus+.form-input__switch:before {
  border-color: #21a7ba;
}

.form-input__checkbox[aria-invalid=true]+.form-input__switch:before {
  border-color: #c2395e;
}

.form-input__checkbox:checked+.form-input__switch:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.form-input__switch {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 36px;
  line-height: normal;
  padding: 5px 0 0 45px;
}

.form-input__switch:after,.form-input__switch:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: border-color .3s ease,-webkit-transform .3s ease;
  transition: border-color .3s ease,-webkit-transform .3s ease;
  transition: transform .3s ease,border-color .3s ease;
  transition: transform .3s ease,border-color .3s ease,-webkit-transform .3s ease;
}

.form-input__switch:before {
  background-color: #fff;
  border: 2px solid #c3c3c3;
}

.form-input__switch:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  color: #21a7ba;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='14'><path fill='none' stroke='%2321A7BA' stroke-linejoin='round' stroke-width='4' d='M2 8.151L5.654 12 16 2'/></svg>");
  background-repeat: no-repeat;
  background-position: center 7px;
}

.form-input__switch-info {
  padding: 0;
  font-weight: 700;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 400;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #2e2e2e;
}

@media (min-width:992px) {
  .form-input__switch-info {
    font-size: 16px;
  }
}

.form-input__required {
  color: #21a7ba;
}

.form-input__messages {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: static;
  top: calc(100% + 15px);
  z-index: 1;
  width: 100%;
  margin-top: 15px;
  display: none;
}

.form-input__messages--visible {
  display: block;
}

.form-input__msg {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: static;
  top: calc(100% + 15px);
  z-index: 1;
  width: 100%;
  margin-top: 15px;
  display: none;
}

.form-input__msg--visible {
  display: block;
}