.tag-label {
  font-family: Poppins,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  font-style: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  margin: 0;
  padding: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width:992px) {
  .tag-label {
    font-size: 16px;
  }
}

.tag-label--brand {
  background-color: #2ea34f;
}

.tag-label--alpha {
  background-color: #7457ad;
}

.tag-label--beta {
  background-color: #21a7ba;
}

.tag-label--delta {
  background-color: #c2395e;
}

.tag-label--epsilon {
  background-color: #bbaf96;
}

.tag-label--gamma {
  background-color: #e26b50;
}

.tag-label--tint-alpha {
  background-color: #2e2e2e;
}

.tag-label--tint-beta {
  background-color: #909090;
}

.tag-label--tint-delta {
  background-color: #f5f4f2;
  color: #2e2e2e;
}

.tag-label--tint-gamma {
  background-color: #fff;
  color: #2e2e2e;
}

.tag-label--avis {
  background-color: #d4002a;
}

.tag-label--cydar {
  background-color: #f35b0d;
}

.tag-label--gain {
  background-color: #06264c;
}

.tag-label--post-office {
  background-color: #d71440;
}

.tag-label--playstation {
  background-color: #003791;
}

.tag-label--suzuki {
  background-color: #0582ca;
}

.tag-label--bbc {
  background-color: #1375e4;
}

.tag-label--xlc {
  background-color: #5ca558;
}

.tag-label--maersk {
  background-color: #0000c8;
}

.tag-label--tfl {
  background-color: #1a3b98;
}

.tag-label--tsb {
  background-color: #00a1e6;
}

.image-media {
  display: block;
}

.image-media .v-lazy-image {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.image-media .v-lazy-image-loaded {
  -webkit-filter: blur(0);
  filter: blur(0);
  opacity: 1;
}

.image-media--fixed-container {
  width: 100%;
  height: 100%;
}

.image-media__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #f5f4f2;
}

.image-media--rounded .image-media__wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.image-media--rounded .image-media__wrapper img {
  border-radius: 50%;
}

.image-media--fixed-container .image-media__wrapper {
  height: 100%;
}

.image-media__wrapper--transparent {
  background-color: transparent;
}

.image-media__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.image-media__img.v-lazy-image-loaded {
  opacity: 1;
}

.image-media--fixed-container .image-media__img,.image-media--fixed-height .image-media__img {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-media.about-us,.image-media.people {
  overflow: hidden;
  position: relative;
  max-height: 720px;
}

[data-preview=ImageMedia] .image-media {
  max-width: 300px;
}

.article-card {
  padding: 0;
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 300;
  margin: 0;
  position: relative;
  text-decoration: none;
  display: block;
}

.article-card:hover .article-card__image {
  opacity: .5;
}

.article-card--no-bg .article-card__header {
  background: transparent!important;
}

.article-card--feature {
  margin-bottom: 48px;
}

.article-card--feature .article-card__header {
  margin: 0 auto;
  width: calc(100% - 16px);
}

@media (min-width:992px) {
  .article-card--feature .article-card__header {
    width: 90%;
  }
}

.article-card--feature .article-card__title {
  color: #2e2e2e;
  padding-bottom: 24px;
}

@media (min-width:576px) {
  .article-card--feature .article-card__title {
    color: #2e2e2e;
  }
}

.article-card--feature .article-card__meta {
  padding: 10px 24px;
  margin: 0;
  color: #909090;
}

@media (min-width:992px) {
  .article-card--feature .article-card__meta {
    padding: 0 24px;
  }
}

.article-card--regular {
  overflow: hidden;
  margin: 0 0 48px;
}

@media (min-width:780px) {
  .article-card--regular {
    margin: 0;
  }
}

.article-card--regular .article-card__header {
  height: 100%;
}

.article-card__wrapped-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.article-card__wrapped-link .link--hidden {
  visibility: hidden;
  opacity: 0;
}

.article-card__wrapped-link:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

.article-card__image {
  max-width: 100%;
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.article-card__header {
  position: relative;
  z-index: 2;
  color: #2e2e2e;
  background-color: #fff;
}

.article-card__tag {
  position: absolute;
  top: -16px;
  left: 24px;
}

.article-card__title {
  font-weight: 700;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -.6px;
  margin-bottom: 0;
  padding: 48px 24px 4px;
}

@media (min-width:992px) {
  .article-card__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.6px;
    margin-bottom: 0;
    padding: 48px 24px 4px;
  }
}

.article-card__meta {
  font-family: Poppins,Helvetica,Arial,sans-serif;
  color: #909090;
  letter-spacing: .4px;
  display: block;
  padding: 0 24px;
  margin: 0;
}

.article-card__preview {
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 300;
  display: none;
  padding: 20px 24px 24px;
  margin: 0;
}

@media (min-width:576px) {
  .article-card__preview {
    display: block;
  }
}

.header-lockup {
  width: 100%;
}

.header-lockup__label {
  padding: 0;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 9px;
  color: #909090;
}

@media (min-width:992px) {
  .header-lockup__label {
    font-size: 16px;
  }
}

.header-lockup__title {
  margin-top: 0;
}

@media (max-width:765px) {
  .header-lockup__title {
    font-size: 34px!important;
    line-height: 32px!important;
    letter-spacing: -.6px!important;
  }
}

.jump-nav,.jump-nav__fixable,.jump-nav__list,.jump-nav__wrapper {
  width: 100%;
  height: 40px;
}

.jump-nav__fixable {
  position: relative;
  overflow: hidden;
}

.jump-nav.is-fixed .jump-nav__fixable {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.jump-nav--theme-brand .jump-nav__fixable {
  background-color: #2ea34f;
}

.jump-nav--theme-alpha .jump-nav__fixable {
  background-color: #7457ad;
}

.jump-nav--theme-beta .jump-nav__fixable {
  background-color: #21a7ba;
}

.jump-nav--theme-delta .jump-nav__fixable {
  background-color: #c2395e;
}

.jump-nav--theme-epsilon .jump-nav__fixable {
  background-color: #bbaf96;
}

.jump-nav--theme-gamma .jump-nav__fixable {
  background-color: #e26b50;
}

.jump-nav--theme-tint-alpha .jump-nav__fixable {
  background-color: #2e2e2e;
}

.jump-nav--theme-tint-beta .jump-nav__fixable {
  background-color: #909090;
}

.jump-nav--theme-avis .jump-nav__fixable {
  background-color: #d4002a;
}

.jump-nav--theme-cydar .jump-nav__fixable {
  background-color: #f35b0d;
}

.jump-nav--theme-gain .jump-nav__fixable {
  background-color: #06264c;
}

.jump-nav--theme-post-office .jump-nav__fixable {
  background-color: #d71440;
}

.jump-nav--theme-playstation .jump-nav__fixable {
  background-color: #003791;
}

.jump-nav--theme-shell-blue .jump-nav__fixable {
  background-color: #003c88;
}

.jump-nav--theme-shell-yellow .jump-nav__fixable {
  background-color: #fbce07;
}

.jump-nav--theme-suzuki .jump-nav__fixable {
  background-color: #0582ca;
}

.jump-nav--theme-bbc .jump-nav__fixable {
  background-color: #1375e4;
}

.jump-nav--theme-xlc .jump-nav__fixable {
  background-color: #5ca558;
}

.jump-nav--theme-maersk .jump-nav__fixable {
  background-color: #0000c8;
}

.jump-nav--theme-tfl .jump-nav__fixable {
  background-color: #1a3b98;
}

.jump-nav--theme-tsb .jump-nav__fixable {
  background-color: #00a1e6;
}

.jump-nav__fixable:after,.jump-nav__fixable:before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 80px;
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity .15s ease;
  transition: opacity .15s ease;
}

@media (min-width:992px) {
  .jump-nav__fixable:after,.jump-nav__fixable:before {
    display: none;
  }
}

.jump-nav__fixable:before {
  left: 0;
}

.jump-nav.has-mask-left .jump-nav__fixable:before {
  opacity: 1;
}

.jump-nav__fixable:after {
  right: 0;
}

.jump-nav.has-mask-right .jump-nav__fixable:after {
  opacity: 1;
}

.jump-nav__current {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 5px;
  background-color: #000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: width .3s ease,left .3s ease;
  transition: width .3s ease,left .3s ease;
}

.jump-nav__current.is-scrolling {
  -webkit-transition: none;
  transition: none;
}

.jump-nav__wrapper {
  width: 100%;
  overflow: hidden;
}

.jump-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 100px;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

@media (min-width:992px) {
  .jump-nav__list {
    overflow-x: auto;
  }
}

.jump-nav__item {
  height: 40px;
  margin: 0 35px 0 0;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width:992px) {
  .jump-nav__item {
    margin: 0 55px 0 0;
  }
}

.jump-nav__link {
  padding: 0;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 9px;
  display: block;
  width: 100%;
  height: 40px;
  margin: 0!important;
}

@media (min-width:992px) {
  .jump-nav__link {
    font-size: 16px;
  }
}

.jump-nav__link a {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin: 0!important;
  padding: 0!important;
}

.person-lockup {
  width: 100%;
  text-align: center;
}

.person-lockup__image {
  max-width: 200px;
  margin: 0 auto 10px;
}

.person-lockup__title {
  padding: 0;
  font-weight: 700;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -.3px;
  margin: 0 0 -10px;
}

.person-lockup__sub-title {
  padding: 0;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  font-style: normal;
  margin: 10px 0 0;
  color: #909090;
}

@media (min-width:992px) {
  .person-lockup__sub-title {
    font-size: 16px;
  }
}

.stand-first {
  margin: 0;
  padding: 40px 0 0;
  color: #fff;
  width: 100%;
}

@media (min-width:992px) {
  .stand-first {
    padding: 64px 0 0;
  }
}

.stand-first--theme-brand {
  background-color: #2ea34f;
}

.stand-first--theme-alpha {
  background-color: #7457ad;
}

.stand-first--theme-beta {
  background-color: #21a7ba;
}

.stand-first--theme-delta {
  background-color: #c2395e;
}

.stand-first--theme-epsilon {
  background-color: #bbaf96;
}

.stand-first--theme-gamma {
  background-color: #e26b50;
}

.stand-first--theme-tint-alpha {
  background-color: #2e2e2e;
}

.stand-first--theme-tint-beta {
  background-color: #909090;
}

.stand-first--theme-avis {
  background-color: #d4002a;
}

.stand-first--theme-cydar {
  background-color: #f35b0d;
}

.stand-first--theme-gain {
  background-color: #06264c;
}

.stand-first--theme-post-office {
  background-color: #d71440;
}

.stand-first--theme-playstation {
  background-color: #003791;
}

.stand-first--theme-shell-blue {
  background-color: #003c88;
}

.stand-first--theme-shell-yellow {
  background-color: #fbce07;
}

.stand-first--theme-suzuki {
  background-color: #0582ca;
}

.stand-first--theme-bbc {
  background-color: #1375e4;
}

.stand-first--theme-xlc {
  background-color: #5ca558;
}

.stand-first--theme-maersk {
  background-color: #0000c8;
}

.stand-first--theme-tfl {
  background-color: #1a3b98;
}

.stand-first--theme-tsb {
  background-color: #00a1e6;
}

.stand-first__exit {
  position: relative;
  left: 0;
}

@media (min-width:992px) {
  .stand-first__exit {
    left: -30px;
  }
}

.stand-first__top {
  width: 100%;
}

.stand-first__title {
  padding: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  width: 100%;
  margin: 20px 0;
}

@media (min-width:992px) {
  .stand-first__title {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -1px;
  }
}

.stand-first__summary {
  padding: 0;
  font-weight: 700;
  font-family: Merriweather,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  width: 100%;
  max-width: 600px;
  font-weight: 300;
  margin: 25px 0 32px;
}

.stand-first__summary a {
  text-decoration: underline;
  color: inherit;
}

.article-grid {
  background-color: #fff;
}

.article-grid--has-background {
  background-color: #f5f4f2;
}

.article-grid__col {
  margin-bottom: 12px;
}

@media (min-width:780px) {
  .article-grid__col {
    margin-bottom: 24px;
  }
}

.contact-card {
  width: 100%;
  text-align: center;
  padding: 80px 0;
  background-color: #fff;
}

.contact-card--has-background {
  background-color: #f5f4f2;
}

.contact-card--has-divider {
  margin-top: 30px;
}

.contact-card__content-wrapper {
  padding: 12px;
  margin: 0 0 30px;
}

@media (min-width:992px) {
  .contact-card__content-wrapper {
    padding: 6px;
    margin: 0 8.33333% 0 0;
  }
}

@media (min-width:992px) {
  .contact-card {
    text-align: left;
  }
}